---
name: Run Molecule

on:
  workflow_call:
    inputs:
      distros:
        required: false
        type: string
        default: |
          [
            "debian13",
            "debian12",
            "debian11",
            "fedora42",
            "fedora41",
            "ubuntu2404",
            "ubuntu2204",
            "rockylinux9",
            "rockylinux10"
          ]

jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
  test:
    needs:
      - lint
    runs-on: ubuntu-latest
    container:
      image: python:3.13  # can't go to 3.14+ until ansible 13
    strategy:
      fail-fast: false
      matrix:
        distro: ${{ fromJSON(inputs.distros) }}
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          path: "${{ github.repository }}"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ${{ github.repository }}/requirements.txt

      - name: Run molecule
        uses: gofrolist/molecule-action@v2
        with:
          molecule_command: test
        env:
          image: ${{ matrix.distro }}
