---
name: Run Molecule

on:
  workflow_call:
    inputs:
      systems:
        required: false
        type: string
        default: |
          {
            "config": [
              {
                "image": "debian",
                "tag": "trixie"
              },
              {
                "image": "debian",
                "tag": "bookworm"
              },
              {
                "image": "debian",
                "tag": "bullseye"
              },
              {
                "image": "fedora",
                "tag": "latest"
              },
              {
                "image": "fedora",
                "tag": "41"
              },
              {
                "image": "ubuntu",
                "tag": "latest"
              },
              {
                "image": "ubuntu",
                "tag": "jammy"
              }
            ]
          }


jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
  test:
    needs:
      - lint
    runs-on: ubuntu-latest
    container:
      image: python:3.13
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(inputs.systems) }}
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          path: "${{ github.repository }}"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ${{ github.repository }}/requirements.txt

      - name: molecule 
        uses: gofrolist/molecule-action@v2
        with:
          molecule_command: test
        env:
          image: ${{ matrix.config.image }}
          tag: ${{ matrix.config.tag }}
